@font-face {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	src: url("font.otf") format("opentype");
}

*, *::before, *::after {
	box-sizing: border-box;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background-color: #b6b6b6;
	background-size: cover;
}

.container {
	width: 700px;
	max-width: 90%;
}

.black {
	background: linear-gradient(to bottom, #4080ff 0%, #0054fc 100%);
	padding: 10px;
	text-align: center;
	border-radius: 20px;
	box-shadow: 0 0 10px 2px;
}

.answer {
	display: grid;
	grid-template-columns: repeat(1, auto);
	gap: 10px;
}

.btn {
	border-radius: 30px;
	padding: 5px 10px;
	font-size: 28px;
	background-color: #ffffff;
	outline: none;
	color: rgb(0, 0, 0);
	text-decoration: none;
	box-shadow: 0 0 10px 1px; 
}

.black h1 {
	color: rgb(255, 255, 255);
}

.black p {
	font-size: 25px;
	color: rgb(255, 255, 255);
}